<p style="color: green"><%= notice %></p>

<h1>Medicos</h1>

<div id="medicos">
  <% @medicos.each do |medico| %>
    <%= render medico %>
    <p>
      <%= link_to "Show this medico", medico %>
    </p>
    <p>
      <%= link_to 'Consultas', medico_listagem_path(medico) %>
    </p>
  <% end %>
</div>

<%= link_to "New medico", new_medico_path %>
<br>
<br>
<br>
<br>
<br>
<%= link_to "Voltar para Home" , root_path%>

